body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    display: inline-flex;
    align-items: center;
    background-color: #1F2937;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
}

.right-links {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0px;
    margin-right: 50px;
    margin-left: auto;
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    margin-left: 50px;
    border: 2px solid white;
}

.circular-image img {
    width: auto;
    height: 100%;
    margin-left: -12px;
}

a {
    text-decoration: none;
    color: white;
}

/*a:visited {
    color: #f0d47a;
}*/

a:hover {
    color: #f0d47a;
}

.introduction {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
    margin-left: 50px;
}

.welcome h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.welcome p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 8px;
}

.welcome button {
    border: 0px solid white;
}

.introduction img {
    height: auto;
    padding: 10px;
    flex: 0 1 300px;
    margin-right: 50px;
    height: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

button {
    border-radius: 5px 5px/5px;
    background-color: #3882F6;
    color: white;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    width: 105px;
    font-weight: 700;
}

button:hover {
    background-color: #2d67c5;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information p {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.image-container p {
    text-align: center;
}

.image-container img {
    width: 300px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 5px 5px/5px;
}

.info-images {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.info-images p {
    font-size: 18px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote-container p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    width: 800px;
    margin-top: 100px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    padding: 10px;
    background-color: #3882F6;
    flex: 0 1 60vw;
    padding-right: 40px;
    padding-left: 40px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-box h1 {
    color: white;
    margin: 0px;
    margin-top: 30px;
    font-size: 24px;
}

.cta-box p {
    color: white;
    margin: 0px;
    margin-bottom: 30px;
}

.cta-box button {
    border: 2px solid white;
}

#signoff {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-align: end;
    margin-top: 0px;
    margin-bottom: 80px;
}